.task_card {
  width: 100%;
  min-height: 6rem;
  /*border: 1px solid #c4c4c4;*/
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  background-color: rgba(235, 235, 235, 0.8);
  box-shadow: 1px 5px 10px 3px rgba(180, 180, 180, 0.5);
}

.task_text {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.task_card_bottom_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_delete {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task_delete:hover {
  background-color: #666666;
}

.delete_icon {
  width: 20px;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.task_delete:hover .delete_icon {
  opacity: 80%;
}
